# Updating data frames

## Updating values is a dataframe

Start by importing packages and data

In [2]:
import numpy as np
import pandas as pd
import random  # Used for randomly sampling integers

# Set the seed
random.seed(42)

# Import data
URL = 'https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv'
penguins = pd.read_csv(URL)

In [3]:
penguins.head()
#df['new_col_name'] = new_column_values

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [ ]:
# Add a new key-value pair to a dictionary
dict[new_key] = new_value

In [4]:
# Add new column body_mass_kg 
penguins['body_mass_kg'] = penguins['body_mass_g']/1000

# Confirm the new column is in the data frame
print("body_mass_kg" in penguins.columns) # to double check and makinging it clear by using in

# Look at the new column
penguins.head()

True

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45

In [7]:
# Create random 3-digit codes
codes = random.sample(range(100,1000), len(penguins)) # Sampling w/o replacement
#codes

In [9]:
type(codes)

list

In [17]:
# Insert codes at the front of data frame
penguins.insert(loc=0,  # Index
                column='id_code',
                value=codes)
penguins.head()

,id_code,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
id_code,,,,,,,,,,
367,367,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
309,309,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
785,785,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
833,833,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
421,421,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45

## A single value
Acessing a single value in a panads datframe using locators
at[]
iat[]

sytax
df.at single_index_values. 'column_name']

at[] equivialnt of loc[] when accessing a single value

## Example

In [18]:
penguins = penguins.set_index('id_code')
penguins

# not modifing the data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
id_code,,,,,,,,,
367,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.750
309,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.800
785,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.250
833,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
421,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.450
...,...,...,...,...,...,...,...,...,...
578,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.000
844,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.400
646,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.775
127,Chinstrap,Dream,38.3,19.0,210.0,4100.0,male,2009,4.100
503,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.775

In [19]:
# Check bill length of penguin with ID 859
penguins.at[833, 'bill_length_mm']

nan

In [20]:
# Correct bill length of pengins with ID 127
penguins.at[833, 'bill_length_mm'] = 38.3

# Confirm values was updated
penguins.loc[833]

species                 Adelie
island               Torgersen
bill_length_mm            38.3
bill_depth_mm              NaN
flipper_length_mm          NaN
body_mass_g                NaN
sex                        NaN
year                      2007
body_mass_kg               NaN
Name: 833, dtype: object

If we want to access or update a single value by index position we ust `iat[]` locator:

Sytax:
```
df.iat[index_integer_location, column_integer_location]
```
Dynamically get the location of single column

```
df.column.get_loc('column_name')
```
# Check-in
a obtain the location of the `bill_length_mm` column programtically
b. Use `iat[]` to access the bil length for the penguins with ID 127 (you may have a different ID) and reer it back to NA. Confirm the changes in your favite way.

In [24]:
#penguins.iat[3,bill_length_index]

38.3

In [25]:
# Set to NAN using iat
bill_length_index = penguins.columns.get_loc('bill_length_mm') # checking column names and the checking the index its in
penguins.iat[3,bill_length_index] = np.nan
penguins.iloc[3]

species                 Adelie
island               Torgersen
bill_length_mm             NaN
bill_depth_mm              NaN
flipper_length_mm          NaN
body_mass_g                NaN
sex                        NaN
year                      2007
body_mass_kg               NaN
Name: 833, dtype: object

## Multiple values in a column

### Using a conditons

Example:

We want to classify the Palmer penguins such that:

- penguins with body mass < 3kg are small
- penguins with 3kg <= body mass < 5kg are medium
- penguins with 5kg < body mass are large

In [27]:
# Create a list with the conditions
conditions = [penguins.body_mass_kg < 3, 
              (3 <= penguins.body_mass_kg) & (penguins.body_mass_kg < 5),
              5 <= penguins.body_mass_kg]

# Create a list with the choices
choices = ["small",
           "medium",
           "large"]

# Add the selections using np.select
penguins['size'] = np.select(conditions, 
                             choices, 
                             default=np.nan) # Value for anything outside conditions

# Display the updated data frame to confirm the new column
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg,size
id_code,,,,,,,,,,
367,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75,medium
309,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80,medium
785,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25,medium
833,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,nan
421,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45,medium

## Update values by selecting them

We can do this with `loc` or `iloc` and assigning new values

Syntax:
```
df.loc[row_selection, column_name] = new_values
```

Using `loc[]` in assignment modifies the data frame directly without the need for reassignment.

In [28]:
# Select rows with sex=male and simplify values in 'sex' column
penguins.loc[penguins.sex=='male', 'sex'] = 'M' # modiefied to be the string M

# Check changes in 'sex' column specifically to avoid printing the whole dataframe
print(penguins.sex.unique())
#print(penguins['sex'].unique())

['M' 'female' nan]

### Best practices

We want to update the 'female' values in 'sex' columns' to 'F'

In [29]:
# Select rows where 'sex' is 'female' and then attempt to update 'sex' column values
penguins[penguins.sex=='female']['sex'] = 'F' # This raises SettingWithCopyWarning

#[penguins.sex=='female']['sex'] the [][] is chained indexing

/tmp/ipykernel_1046357/534867616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins[penguins.sex=='female']['sex'] = 'F' # This raises SettingWithCopyWarning

 Avoid chained indecing [][] and use.loc instead this warninghappend fernally when we have hainde indecing
    df[row_selection][column_selction] = new value

## Check-in
Update the 'female' values without the warning and check that the values are updated.

In [30]:
# Select rows with sex=female and simplify values in 'sex' column
penguins.loc[penguins.sex=='male', 'sex'] = 'M'

penguins.sex.unique()

array(['M', 'female', nan], dtype=object)

This warning comes up because some `pandas` operations return a view, and other return a copy of your data.

- **Views**: actual subsets of the original data, when we update them, we are modifiying the original data frame.

- **Copies**: unique objects, independent of our original data frames. When we update a copy we are not modifying the original data frame.

## Example 
We only want to use data from Biscoe island, after doing some anlyses, we want to add a new column.

In [32]:
# Select penguins from Biscoe island
biscoe = penguins[penguins.island == 'Biscoe']

# ... Other analyses ... this is still a chaining indexing

# Add a column
biscoe['sample_col'] = 100  # This raises SettingWithCopyWarning

/tmp/ipykernel_1046357/2215294278.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biscoe['sample_col'] = 100  # This raises SettingWithCopyWarning

We can also explicity as for a copy of a the datset when subsetting using the `copy()` method.

In [33]:
# Make sure you get an independent data frame that won't alter the original
biscoe = penguins[penguins.island=='Biscoe'].copy()

# Add a column, no warning
biscoe['sample_col'] = 100

In [34]:
# Confirm the new column is in our subset data
biscoe.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg,size,sample_col
id_code,,,,,,,,,,,
202,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007,3.40,medium,100
175,Adelie,Biscoe,37.7,18.7,180.0,3600.0,M,2007,3.60,medium,100
650,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007,3.80,medium,100
318,Adelie,Biscoe,38.2,18.1,185.0,3950.0,M,2007,3.95,medium,100
618,Adelie,Biscoe,38.8,17.2,180.0,3800.0,M,2007,3.80,medium,100

In [35]:
# Confirm that original data was not modified
print('sample_column' in penguins.columns)

False